<style>
    body {
        background: url(./img/toilet-paper2.jpg);
        background-size: 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<nav class="navbar navbar-default navbar-nav ml-auto navbar-secondary" style="background-color: #8f9192;">
    <div class="container-fluid">
        <a class="navbar-brand" href="welcome.html" style="color: #000000;"><u>Home</u></a>
        <a class="navbar-brand " href="/logout" id="results-logout" style="color: #000000;">
            <u>Logout</u>
        </a>
    </div>
</nav>
<header class="header">
    <h1 class="mt-3 mb-4 text-white">Find a bathroom</h1>
</header>
<main class="container resultsContainer">
    <div class="row resultsDiv mb-4">
        <div class="searchDiv">
            <h4 class="text-white">Search by zip code</h4>
            <p id="inputError" class="text-danger"></p>
            <input type="text" class="form-control text-center" id="zipInput" placeholder="12345" />
            <br />
            <button type="button" class="btn btn-primary" id="refineBtn">
                <img src="https://img.icons8.com/ultraviolet/25/000000/toilet-paper.png" />
                Refine
            </button>
        </div>
        <div>
            {{#if reviewData}}
            <h3 class="text-center text-white">Results</h3>
            {{/if}}
            {{#each reviewData}}
            <div class="row resultCard mb-2">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{locationName}}</h5>
                            <div class="card-subtitle mb-2 text-muted">{{address}} {{city}}, {{state}} {{zipCode}}</div>
                            {{#if starRating}}
                            <div>Rating: {{starRating}} / 5</div>
                            {{/if}}
                            <p class="card-text">{{review}}</p>
                        </div>
                    </div>
                </div>
                {{!-- Because of the way we set up our database, we needed to use
                if statements to check each option for 'true' --}}
                <div class="col-md-6 bathroomOptions">
                    <ul class="list-group ml-3 card-body">
                        {{#if changingStation}}
                        <li>Changing Station</li>
                        {{/if}}
                        {{#if feminineProducts}}
                        <li>Feminine Products</li>
                        {{/if}}
                        {{#if genderNeutral}}
                        <li>Gender Neutral</li>
                        {{/if}}
                        {{#if toiletPaper}}
                        <li>Toliet Paper</li>
                        {{/if}}
                        {{#if multipleStalls}}
                        <li>Multiple Stalls</li>
                        {{/if}}
                        {{#if airDryer}}
                        <li>Air Dryer</li>
                        {{/if}}
                        {{#if fancy}}
                        <li>Fancy</li>
                        {{/if}}
                        {{#if familyFriendly}}
                        <li>Family Friendly</li>
                        {{/if}}
                        {{#if motionSensors}}
                        <li>Motion Sensors</li>
                        {{/if}}
                        {{#if handTowels}}
                        <li>Hand Towels</li>
                        {{/if}}
                        {{#if handSoap}}
                        <li>Hand Soap</li>
                        {{/if}}
                        {{#if clean}}
                        <li>Clean</li>
                        {{/if}}
                        {{#if keyRequired}}
                        <li>Key Required</li>
                        {{/if}}
                        {{#if payingCustomer}}
                        <li>Purchase Required</li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>